@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form action="" method="">
                <input name="user" type="text" placeholder="Имя пользователя">
                <input type="password" placeholder="Пароль">
                <button class="btn btn-info btn-block login" type="submit">Вход</button>
            </form>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<link href="~/Content/Login/mystyle.css" rel="stylesheet" />
<script src="~/Content/Login/myscript.js"></script>
